/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root{
    --color-dark: #292929;
    --color-bg: #FFFFFF;
    --color-green: #01996D;
    --color-dark-green:#245852;
    --color-black:#000000;
    --color-gray:  #484848;
}
@font-face {
    font-family: "Georgia";
    src: url("fonts/georgia\ bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Lato";
    src: url("fonts/Lato.ttf");
}
body {
	margin: 0;
    background-color: var(--color-bg);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img{
    display:block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p{
    padding:0;
    margin:0;
}
.text-p {
    color:var(--color-gray);
    font-family: "Lato";
    font-size: 20px;
}
.h2-title {
    color: var(--color-green);
    font-family: "Georgia";
    font-size: 50px;
    font-weight: 700;
    line-height: 157%;
}
.h6-title {
    color: var(--color-gray);
    font-family: "Lato";
    font-size: 24px;
    font-weight: 600;
    line-height: 157%;
}
.button {
    border-radius: 4px;
    border: 1px solid var(--color-green);
    background: var(--color-green);
    color: var(--color-bg);
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    cursor:pointer;
}
li{
    list-style: none;
    margin-right: 72px;
}
/*header*/

.container{
    max-width: 1367px;
    margin: 0 auto;
}
.menu {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--color-bg);
    position: fixed;
    right:0;
    top:0;
    left:0;
    z-index: 999;
}
.logo {
    margin-right: 172px;
}
.logo-image {
    width:79px;
    height: 23px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 283px;
}
a{
    text-decoration: none;
    color: var(--color-dark);
}
.menu-left-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign {
    margin-right: 35px;
}
.welcome {
    background-image: url("img/bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 85px; 
}
.main-title {
    color: var(--color-green);
    font-family: "Georgia";
    font-size: 65px;
    font-weight: 700;
    width: 440px;
    padding-top: 175px;
}
.text-main {
    font-weight: 400;
    line-height: 157%;
    width: 440px;
    padding-top: 30px;
    margin-bottom: 57px;
}
.button-menu{
    width: 130px;
    height: 40px;
}
.button-main {
    margin-bottom: 353px;
    width: 227px;
    height: 65px;
}
/*How it works*/
.how {
    padding-top: 120px;
}
.how_items {
    display: flex;
    justify-content: start;
    align-items:center;
    margin-bottom: 128px;
}
.title-how{
    width: 584px;
    margin-right: 136px;
}
.text-how {
    font-weight: 500;
    line-height: 150%;
    width: 671px;
    padding-top: 30px;
}
.cards_flex_items {
    display: flex;
    justify-content: space-between;
    align-items: start;
    min-height:862px;
}
.card_item {
    width:395px;
}
.card-item-down{
    margin-top: 200px;
    margin-bottom: 51px;
}
.number-card {
    color: rgba(1, 153, 109, 0.20);
    text-align: left;
    font-family: "Georgia";
    font-size: 150px;
    font-weight: 400;
    line-height: 150%;
    position: relative;
}
.name-card {
    color: #000;
    text-align: left;
    font-family: "Georgia";
    font-size: 30px;
    font-weight: 700;
    line-height: 150%;
    position: absolute;
    top:55%;
    left:20%;
}
.text-card {
    margin-bottom: 60px;
}
.card-image{
    border-radius: 12px;
}
/*Video story*/
.video-story {
    background-color: var(--color-dark-green);
}
.video-item {
    padding-top: 229px;
    padding-bottom: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-left-block {
    width:580px;
    margin-right: 60px ;
}
.video-title {
    color: #FFF;
    font-family: "Georgia";
    font-size: 50px;
    font-weight: 700;
    line-height: 157%;
    margin-bottom: 33px;
}
.video-text{
    color: #FFF;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 500;
    line-height: 157%; /* 39.25px */
    margin-bottom: 57px;
}
video{
    border-radius:13px;
}
.button-video{
    width:240px;
    height:60px;
}
/*our products*/
.product {
    padding-top: 120px;
}
.our-froduct-flex {
    display:flex;
    justify-content: center;
    align-items: start; 
}
.item-left {
    border-radius: 18.112px;
    background: rgba(1, 153, 109, 0.20);
    background-image: url("img/product_img.png");
    background-repeat: no-repeat;
    background-position: center;
    width:638px;
    height: 573px;
    margin-right:86px;
    position: relative;
    margin-left: 57px;
}
.image-custom-card{
    position: absolute;
    right: 403px; /* Adjust this value as needed */
    top: 354px; 
    filter: drop-shadow(0px 3.62249493598938px 18.11247444152832px rgba(165, 165, 165, 0.25));
    width:296px;
    height: 293px;
}
.item-right {
    width:584px;
    margin-bottom: 45px;
}
.text-product {
    width:530px;
    margin-bottom: 40px;
}
/*Footer*/
.footer {
    background-color: var(--color-dark-green);
    padding-top: 95px;
    padding-bottom: 144px;
}
.footer-title {
    color: #FFF;
    font-family: "Lato";
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 60px;
}
.footer-link {
    display: flex;
    flex-direction: column;
}
.link{
    color: #FFF;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 60px;
}
.link:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 1200px){
.nav {
    
    justify-content: center;
    margin-right: 0;
    padding: 0;
}
.logo {
    margin-right: 0;
    }
   .sign {
    margin-right: 15px;
}
.container{
    margin: 0 20px;
}
.how_items {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 128px;
}
.title-how{
    width: 100%;
    margin-right: 100px;
}
.text-how {
    width: 100%;
}
.cards_flex_items {
    justify-content: space-around;
}
.card_item {
    width:200px;
}
.number-card {
    font-size: 130px;
}
.video-item {
    padding-top: 180px;
    padding-bottom: 150px;
}
.video-left-block {
    width:500px;
    margin-left: 15px;
    margin-right: 60px;
}
.video-title {
    font-size: 45px;
}
video{
    margin-right: 15px;
    width: 90%
}
.product {
    padding-top: 100px;
}
.item-left {
    width:600px;
    height: 530px;
    margin-right:80px;
}
.image-custom-card{
    position: absolute;
    right: 200px; /* Adjust this value as needed */
    width:200px;
    height: 200px;
}
.item-right {
    width:584px;
    margin-bottom: 40px;
}
.text-product {
    width:100%;
    margin-bottom: 40px;
}
/*Footer*/

.footer-title {
    font-size: 35px;
    margin-bottom: 40px;
}
.link{
    margin-bottom: 50px;
}
}

@media screen and (max-width: 768px){
  .menu {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
        position: relative;
    }
    .menu-items{
        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-content: center;
    }
    .logo {
        margin-right: 0;
    }
    .logo-image {
        width:79px;
        height: 23px;
        margin-top: 120px;
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
    ul{
        padding-left: 0;
    }
    li{
        list-style: none;
        margin-right: 0;
    }
    
    .sign {
        margin-right: 30px;
    }
    .welcome {
        margin-top: 130px; 
    }
    .main-title {
        font-size: 40px;
        width: 100%;
        padding-top: 100px;
    }
    .text-main {
        line-height: 100%;
        width: 100%;
        padding-top: 30px;
        margin-bottom: 57px;
    }
    .button-menu{
        margin-bottom: 0;
    }
    .button-main {
        margin-bottom: 30px;
    }
    /*How it works*/
    .how {
        padding-top: 80px;
    }
    .how_items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-bottom: 100px;
    }
    .title-how{
        width: 100%;
        margin-right: 0px;
    }
    .text-how {
        line-height: 100%;
        width: 100%;
        padding-top: 20px;
    }
    .cards_flex_items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        min-height:862px;
    }
    .card_item {
        width:100%;
        margin-bottom: 51px;
    }
    .card-item-down{
        margin-top: 50px;
        margin-bottom: 51px;
    }
    .number-card {
        font-size: 100px;
        line-height: 100%;
    }
    .name-card {
        font-size: 20px;
        line-height: 100%;
        top:55%;
        left:20%;
    }
 
    /*Video story*/

    .video-item {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .video-player{
        display: flex;
        justify-content: center;
    }
    .video-left-block {
        width: 100%;
        margin-right: 0;
    }
    .video-title {
        font-size: 30px;
        line-height: 100%;
        margin-bottom: 23px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .video-text{
        font-size: 25px;
        line-height: 100%; /* 39.25px */
        margin-bottom: 57px;
        margin-right: 15px;
        margin-left: 15px;
    }
    video{
        border-radius:13px;
    }
    .button-video{
        width:200px;
        height:60px;
        margin-right: 15px;
        margin-left: 35px;
        margin-bottom: 30px;
    }
    /*our products*/
    .product {
        padding-top: 100px;
    }
    .our-froduct-flex{
        flex-direction: column;
    }
    .item-left {
        width:80%;
        height: 573px;
        margin: 0 auto;
        position: relative;
    }
    .image-custom-card{
        position: relative;
        right: 10px; /* Adjust this value as needed */
        top: 400px; 
        width:100%;
        height: 100%;
    }
    .title-product{
        font-size: 30px;
        line-height: 100%;
        margin-bottom: 30px;
    }
    .item-right {
        width:100%;
        margin-bottom: 45px;
        margin-top: 120px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .text-product {
        width:100%;
        margin-bottom: 40px;
    }
    /*Footer*/
    .footer {
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .footer-title {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .link{
        font-size: 15px;
        margin-bottom: 40px;
    }
    .link:last-child{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 380px){
    .menu {
        display:flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        position: relative;
    }
    .menu-items{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .logo {
        margin-right: 0;
    }
    .logo-image {
        width:79px;
        height: 23px;
        margin-top: 80px;
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
    ul{
        padding-left: 0;
    }
    li{
        list-style: none;
        margin-right: 0;
    }
    .sign {
        margin-right: 30px;
    }
    .welcome {
        margin-top: 130px; 
    }
    .main-title {
        font-size: 40px;
        width: 100%;
        padding-top: 100px;
    }
    .text-main {
        line-height: 100%;
        width: 100%;
        padding-top: 30px;
        margin-bottom: 57px;
    }
    .button-menu{
        margin-bottom: 0;
    }
    .button-main {
        margin-bottom: 30px;
    }
    /*How it works*/
    .how {
        padding-top: 80px;
    }
    .how_items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-bottom: 100px;
    }
    .title-how{
        width: 100%;
        margin-right: 0px;
    }
    .text-how {
        line-height: 100%;
        width: 100%;
        padding-top: 20px;
    }
    .cards_flex_items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        min-height:862px;
    }
    .card_item {
        width:100%;
        margin-bottom: 51px;
    }
    .card-item-down{
        margin-top: 50px;
        margin-bottom: 51px;
    }
    .number-card {
        font-size: 100px;
        line-height: 100%;
    }
    .name-card {
        font-size: 20px;
        line-height: 100%;
        top:55%;
        left:20%;
    }
 
    /*Video story*/

    .video-item {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .video-left-block {
        width: 100%;
        margin-right: 15px;
    }
    .video-title {
        font-size: 30px;
        line-height: 100%;
        margin-bottom: 23px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .video-text{
        font-size: 25px;
        line-height: 100%; /* 39.25px */
        margin-bottom: 57px;
        margin-right: 15px;
        margin-left: 15px;
    }
    video{
        border-radius:13px;
    }
    .button-video{
        width:200px;
        height:60px;
        margin-right: 15px;
        margin-left: 35px;
    }
    /*our products*/
    .product {
        padding-top: 100px;
    }
    .our-froduct-flex{
        flex-direction: column;
    }
    .item-left {
        width:80%;
        height: 573px;
        margin: 0 auto;
        position: relative;
    }
    .image-custom-card{
        position: relative;
        right: 10px; /* Adjust this value as needed */
        top: 400px; 
        width:100%;
        height: 100%;
    }
    .title-product{
        font-size: 30px;
        line-height: 100%;
        margin-bottom: 30px;
    }
    .item-right {
        width:100%;
        margin-bottom: 45px;
        margin-top: 120px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .text-product {
        width:100%;
        margin-bottom: 40px;
    }
    /*Footer*/
    .footer {
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .footer-title {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .link{
        font-size: 15px;
        margin-bottom: 40px;
    }
    .link:last-child{
        margin-bottom: 0;
    }
}